# Úkol č. 2 - předzpracování dat a binární klasifikace (do 10. listopadu)

  * Cílem thoto úkolu je vyzkoušet si naučit prediktivní model pro binární klasifikaci.
  * Budete se muset vypořádat s příznaky, které jsou různých typů a které bude třeba nějakým způsobem převést do číselné reprezentace.
    
> **Úkoly jsou zadány tak, aby Vám daly prostor pro invenci. Vymyslet _jak přesně_ budete úkol řešit, je důležitou součástí zadání a originalita či nápaditost bude také hodnocena!**

## Zdroj dat

Budeme se zabývat predikcí přežití pasažérů Titaniku.
K dispozici máte trénovací data v souboru **data.csv** a data na vyhodnocení v souboru **evaluation.csv**.

#### Seznam příznaků:
* survived - zda přežil, 0 = Ne, 1 = Ano, **vysvětlovaná proměnná**, kterou chcete predikovat
* pclass - Třída lodního lístku, 1 = první, 2 = druhá, 3 = třetí
* name - jméno
* sex - pohlaví
* age - věk v letech
* sibsp	- počet sourozenců / manželů, manželek na palubě
* parch - počet rodičů / dětí na palubě
* ticket - číslo lodního lístku
* fare - cena lodního lístku
* cabin	- číslo kajuty
* embarked	- místo nalodění, C = Cherbourg, Q = Queenstown, S = Southampton
* home.dest - Bydliště/Cíl

## Pokyny k vypracování

**Základní body zadání**, za jejichž (poctivé) vypracování získáte **8 bodů**:
  * V Jupyter notebooku načtěte data ze souboru **data.csv**. Vhodným způsobem si je rozdělte na trénovací, testovací a případně i validační množinu (preferujeme ale použití cross-validation).
  * Projděte si jednotlivé příznaky a transformujte je do vhodné podoby pro použití ve vybraném klasifikačním modelu.
  * Podle potřeby si můžete vytvářet nové příznaky (na základě existujících), například tedy můžete vytvořit příznak měřící délku jména. Některé příznaky můžete také úplně zahodit.
  * Nějakým způsobem se vypořádejte s chybějícími hodnotami.
  * Následně si vyberte vhodný klasifikační model z přednášek. Najděte vhodné hyperparametry a určete jeho přesnost (accuracy) na trénovací množině. Také určete jeho přesnost na testovací/vaidační množině.
  * Načtěte vyhodnocovací data ze souboru **evaluation.csv**. Napočítejte predikce pro tyto data (vysvětlovaná proměnná v nich již není). Vytvořte **results.csv** soubor, ve kterém tyto predikce uložíte do dvou sloupců: ID, predikce přežití. Tento soubor nahrajte do repozitáře.

**Další body zadání** za případné další body  (můžete si vybrat, maximum bodů za úkol je každopádně 12 bodů):
  * (až +4 body) Aplikujte všechny klasifikační modely z přednášek a určete (na základě přesnosti na validační množině), který je nejlepší. Přesnost tohoto nejlepšího modelu odhadněte pomocí testovací množiny. K predikcím na vyhodnocovacích datech využijte tento model.
  * (až +4 body) Zkuste použít nějaké (alespoň dvě) netriviální metody doplňování chybějících hodnot u věku. Zaměřte na vliv těchto metod na přesnost predikce výsledného modelu. K predikcím na vyhodnocovacích datech využijte ten přístup, který Vám vyjde jako nejlepší.

## Poznámky k odevzdání

  * Řiďte se pokyny ze stránky https://courses.fit.cvut.cz/BI-VZD/homeworks/index.html.
  * Odevzdejte nejen Jupyter Notebook, ale i _csv_ soubor(y) s predikcemi pro vyhodnocovací data.
  * Opravující Vám může umožnit úkol dodělat či opravit a získat tak další body. **První verze je ale důležitá a bude-li odbytá, budete za to penalizováni**

In [6]:
import math
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn.metrics as metrics
from sklearn.model_selection import ParameterGrid
import matplotlib.pyplot as plt
import matplotlib
from copy import deepcopy
%matplotlib inline

import warnings

In [81]:
data = pd.read_csv('data.csv')
df = data.drop(columns=["name"])
df["sex"].replace(['male','female'],[True,False],inplace=True)
# první písmena kabiny převede na čísla, kde žádná hodnota je 0 a poté postupně G - A se převede na 1 - 7
cabin_level = {
    "1": "G",
    "2": "F",
    "3": "E",
    "4": "D",
    "5": "C",
    "6": "B", 
    "7": "A"
}
df['cabin'] = np.where(df['cabin'].isnull(), '0', df['cabin'])
for index, value  in cabin_level.items():
   df['cabin'] = np.where(df['cabin'].str.contains(value), index, df['cabin'])
df['cabin'] = pd.to_numeric(df['cabin'])
df.info()

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
ID           1000 non-null int64
survived     1000 non-null int64
pclass       1000 non-null int64
sex          1000 non-null bool
age          799 non-null float64
sibsp        1000 non-null int64
parch        1000 non-null int64
ticket       1000 non-null object
fare         999 non-null float64
cabin        1000 non-null int64
embarked     998 non-null object
home.dest    565 non-null object
dtypes: bool(1), float64(2), int64(6), object(3)
memory usage: 87.0+ KB

,ID,survived,pclass,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest
0,0,1,3,False,22.0,0,0,347081,7.7500,0,S,NaN
1,1,0,3,True,NaN,0,0,330877,8.4583,0,Q,NaN
2,2,1,1,False,19.0,1,0,11967,91.0792,6,C,"Dowagiac, MI"
3,3,0,3,True,25.0,0,0,2672,7.2250,0,C,NaN
4,4,0,3,True,NaN,0,0,368573,7.7500,0,Q,"Ireland New York, NY"
5,5,0,1,True,27.0,0,2,113503,211.5000,5,C,"Elkins Park, PA"
6,6,1,1,False,24.0,3,2,19950,263.0000,5,S,"Winnipeg, MB"
7,7,1,3,False,NaN,1,0,386525,16.1000,0,S,"Liverpool, England Bedford, OH"
8,8,0,3,True,61.0,0,0,345364,6.2375,0,S,NaN
9,9,0,3,True,8.0,4,1,382652,29.1250,0,Q,NaN
10,10,0,1,True,33.0,0,0,113790,26.5500,0,S,London
11,11,1,1,True,54.0,1,0,11778,55.4417,5,C,"Newark, NJ"
12,12,0,2,True,35.0,0,0,239865,26.0000,0,S,"Liverpool / Montreal, PQ"
13,13,0,3,True,16.0,0,0,347074,7.7750,0,S,"Karberg, Sweden Jerome Junction, AZ"
14,14,0,2,True,24.0,2,0,C.A. 31029,31.5000,0,S,"Guernsey / Elizabeth, NJ"
15,15,1,1,True,21.0,0,1,PC 17597,61.3792,0,C,"Geneva, Switzerland / Radnor, PA"
16,16,0,3,False,27.0,0,0,330844,7.8792,0,Q,"New York, NY"
17,17,1,3,False,24.0,0,0,382653,7.7500,0,Q,NaN
18,18,0,1,True,39.0,0,0,PC 17580,29.7000,7,C,"Philadelphia, PA"
19,19,0,2,True,62.0,0,0,240276,9.6875,0,Q,"Cambridge, MA"
20,20,0,1,True,57.0,1,1,36928,164.8667,0,S,"Youngstown, OH"
21,21,0,2,True,18.0,0,0,29108,11.5000,0,S,"Penzance, Cornwall / Akron, OH"
22,22,0,3,True,35.0,0,0,STON/O 2. 3101273,7.1250,0,S,NaN
23,23,1,1,True,35.0,0,0,111426,26.5500,0,C,"Indianapolis, IN"
24,24,0,3,True,21.0,0,0,STON/O 2. 3101280,7.9250,0,S,NaN
25,25,1,3,True,26.0,0,0,1601,56.4958,0,S,NaN
26,26,0,3,True,29.0,0,0,343276,8.0500,0,S,NaN
27,27,0,3,False,28.0,1,1,347080,14.4000,0,S,"Stanton, IA"
28,28,0,3,True,16.0,0,0,7534,9.2167,0,S,NaN
29,29,1,1,False,54.0,1,0,PC 17603,59.4000,0,C,"New York, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...
970,970,1,1,True,NaN,0,0,16988,30.0000,4,S,"Kingston, Surrey"
971,971,0,2,True,40.0,0,0,28221,13.0000,0,S,"Barre, Co Washington, VT"
972,972,0,3,False,30.5,0,0,364850,7.7500,0,Q,NaN
973,973,1,1,False,48.0,1,0,11755,39.6000,7,C,London / Paris
974,974,0,3,True,NaN,0,0,SOTON/OQ 392086,8.0500,0,S,NaN
975,975,0,3,True,20.5,0,0,A/5 21173,7.2500,0,S,NaN
976,976,1,2,False,36.0,1,0,226875,26.0000,0,S,"Warwick, England"
977,977,0,2,True,19.0,0,0,28424,13.0000,0,S,"St Ives, Cornwall / Calumet, MI"
978,978,1,3,False,NaN,0,0,36568,15.5000,0,Q,NaN
979,979,0,3,True,30.0,1,0,A/5. 3336,16.1000,0,S,NaN
980,980,1,3,False,30.0,0,0,382650,6.9500,0,Q,"Co Athlone, Ireland New York, NY"
981,981,1,1,False,49.0,0,0,17465,25.9292,4,S,"New York, NY"
982,982,0,3,True,26.0,0,0,347068,7.7750,0,S,"Krakudden, Sweden Moune, IL"
983,983,0,3,False,28.0,0,0,347086,7.7750,0,S,NaN
984,984,0,2,True,32.0,0,0,237216,13.5000,0,S,"Sydney, Australia"
985,985,1,2,False,24.0,1,0,SC/PARIS 2167,27.7208,0,C,"Lucca, Italy / California"
986,986,0,3,True,NaN,0,0,2671,7.2292,0,C,NaN
987,987,0,1,True,42.0,0,0,110489,26.5500,4,S,"London / Winnipeg, MB"
988,988,0,1,True,47.0,0,0,111320,38.5000,3,S,"St Anne's-on-Sea, Lancashire"
989,989,0,3,True,22.0,0,0,345767,9.0000,0,S,"Antwerp, Belgium / Stanton, OH"
990,990,0,3,False,NaN,1,9,CA. 2343,69.5500,0,S,NaN
991,991,1,1,True,28.0,0,0,113788,35.5000,7,S,"New Britain, CT"
992,992,0,1,True,29.0,0,0,113501,30.0000,4,S,"Springfield, MA"
993,993,1,1,True,24.0,1,0,21228,82.2667,6,S,"Minneapolis, MN"
994,994,0,3,True,NaN,0,0,7935,7.7500,0,Q,NaN
995,995,1,1,False,48.0,1,1,13567,79.2000,6,C,"Zurich, Switzerland"
996,996,1,2,False,3.0,1,2,SC/Paris 2123,41.5792,0,C,Paris / Haiti
997,997,1,3,False,NaN,0,0,14313,7.7500,0,Q,NaN
998,998,1,3,True,NaN,0,0,368783,7.7500,0,Q,NaN
999,999,0,1,True,56.0,0,0,113792,26.5500,0,S,"New York, NY"